.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-img-top {
  height: 200px;
  width: 100%;
}

.img-wrapper img{
  height: 200px;
  width: 100%;
}

.card h5 {
  height: 50px;
}
.card {
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .card-img-top {
    height: auto;
  }
  .img-wrapper img {
    height: 150px;
  }
  .card-body {
    height: 180px;
  }
  .search-form {
    display: none;
  }
}
