.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  height: 1200px;
}

.banner > .text {
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-img-top {
  height: 200px;
  width: 100%;
}

.img-wrapper img{
  height: 200px;
  width: 100%;
}

.card h5 {
  height: 50px;
}
.card {
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .banner {
    height: 600px;
  }

  .card-img-top {
    height: auto;
  }
  .img-wrapper img {
    height: 150px;
  }
  .card-body {
    height: 180px;
  }
  .search-form {
    display: none !important;
  }
  .banner > .text {
    align-items: flex-start;
  }
}
